@model Company


<form asp-controller="Company" asp-action="Delete" method="post">
    <input asp-for="Id" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2>Delete Company</h2>
            <hr />

        </div>
        <div asp-validation-summary="All">
        </div>

        <div class="mb-3 row p-2">
            <label class="p-0" asp-for="Name">Name</label>
            <input disabled asp-for="Name" class="form-control" />
            
        </div>
        <div class="mb-3 row p-2">
            <label class="p-0" asp-for="StreetAdress">Street Adress </label>
            <input disabled asp-for="StreetAdress" class="form-control" />
            
        </div>

        <div class="mb-3 row p-2">
            <label class="p-0" asp-for="City">City</label>
            <input asp-for="City" class="form-control" />
           
        </div>
        <div class="mb-3 row p-2">
            <label class="p-0" asp-for="State">State</label>
            <input asp-for="State" class="form-control" />
            
        </div>
        <div class="mb-3 row p-2">
            <label class="p-0" asp-for="PostalCode">Postal Code</label>
            <input asp-for="PostalCode" class="form-control" />
           
        </div>
        <div class="mb-3 row p-2">
            <label class="p-0" asp-for="PhoneNumber">Phone Number</label>
            <input asp-for="PhoneNumber" class="form-control" />
            
        </div>
       
        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-danger">Delete Company</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Company" asp-action="Index" class="btn btn-outline-secondary form-control">Back to List </a>
            </div>
        </div>



    </div>
</form>
